.carousel {
  position: relative;
}

.carousel-indicators li {
  width: 8px;
  height: 8px;
  margin-left: 10px;
  border-radius: 50%;
}

.carousel-control-prev,
.carousel-control-next {
  height: 40px;
  width: 40px;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #fff;
  top: 50%;
}

.carousel-control-prev {
  left: 25px;
}

.carousel-control-next {
  right: 25px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  width: 15px;
  height: 48px;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  width: 15px;
  height: 48px;
}

.header-div {
  position: absolute;
  background: rgba(30, 200, 237, 0.76);
  padding: 30px;
  width: 500px;
  top: 50%;
  left: 73%;
  transform: translate(-50%, -50%);
}

.header-div .topic {
  font-size: 50px;
  font-size: 28px;
  line-height: 36px;
  color: #ffffff;
}

.header-div .topic {
  font-size: 45px;
  line-height: 59px;
  color: #ffffff;
  font-weight: 500;
}

.header-div .sub-topic {
  font-size: 25px;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 0;
}
